.image{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}
.container{
    padding-top: 15vh;
    text-align: center;
}
.container a{
    color: black;
    letter-spacing: 0.5px;
}
.container__modelName{
    font-size: 2.5rem;
    letter-spacing: 2.5px;
}

.btn{
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 15vh;
}
.btn button{
    width: 256px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
}
@media (max-width: 768px) {
    .btn{
        flex-direction: column;
    }
    .btn__buyNow{
        margin-bottom: 20px;
    }
}
.btn__buyNow{
    background-color: rgb(36, 36, 36);
    color: white;
    margin-right: 20px;
}
.btn__custom{
    background-color: white;
    color: rgb(36, 36, 36);

}
.container2{
    text-align: center;
}
.container2 .icon{
    color: white;
    height: 40px;
    font-size: 4rem;
    animation: animateDown infinite 1.5s;
}